<nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding: 5px;">
  <a class="navbar-brand" href="#">
    <img src="../assets/Logo.png" height="40" width="100" />
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a (mouseenter)="loadFeedMenu('POLITICS')" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          POLITICS
        </a>
        <div class="dropdown-menu" style="border-radius: 0px !important;" aria-labelledby="navbarDropdown">
          <!-- <div class="container"> -->
          <div class="row" style="margin:5px;padding-top: 10px;">

            <div class="col-sm-3" *ngFor="let Feed of MenuFeeds" style="margin-top: 10px;">
              <div class="list-group">
                <a style="padding: 0 !important;" class="list-group-item mostread list-group-item-action flex-column align-items-start">
                  <div class="d-flex flex-row">
                    <div class="d-inline-flex p-2">
                      <img src="{{Feed.headLineImage}}" style="height: 67px;width: 70px;" alt="">
                    </div>
                    <div class="d-flex p-2">
                      <p class="mb-1">{{Feed.headline}}</p>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <br>




          </div>
          <!-- </div> -->

        </div>
      </li>



      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" (mouseenter)="loadFeedMenu('FACTCHECK')" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          FACT CHECK
        </a>
        <div class="dropdown-menu" style="border-radius: 0px !important;" aria-labelledby="navbarDropdown">
          <!-- <div class="container"> -->
          <div class="row" style="margin:5px;padding-top: 10px;">

            <div class="col-sm-3" *ngFor="let Feed of MenuFeeds" style="margin-top: 10px;">
              <div class="list-group">
                <a style="padding: 0 !important;" class="list-group-item mostread list-group-item-action flex-column align-items-start">
                  <div class="d-flex flex-row">
                    <div class="d-inline-flex p-2">
                      <img src="{{Feed.headLineImage}}" style="height: 67px;width: 70px;" alt="">
                    </div>
                    <div class="d-flex p-2">
                      <p class="mb-1">{{Feed.headline}}</p>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <br>






          </div>
          <!-- </div> -->

        </div>
      </li>



      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" (mouseenter)="loadFeedMenu('INFORMATIVE')" href="#" id="navbarDropdown" role="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          INFORMATIVE
        </a>
        <div class="dropdown-menu" style="border-radius: 0px !important;" aria-labelledby="navbarDropdown">
          <!-- <div class="container"> -->
          <div class="row" style="margin:5px;padding-top: 10px;">

            <div class="col-sm-3" *ngFor="let Feed of MenuFeeds" style="margin-top: 10px;">
              <div class="list-group">
                <a style="padding: 0 !important;" class="list-group-item mostread list-group-item-action flex-column align-items-start">
                  <div class="d-flex flex-row">
                    <div class="d-inline-flex p-2">
                      <img src="{{Feed.headLineImage}}" style="height: 67px;width: 70px;" alt="">
                    </div>
                    <div class="d-flex p-2">
                      <p class="mb-1">{{Feed.headline}}</p>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <br>






          </div>
          <!-- </div> -->

        </div>
      </li>



      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" (mouseenter)="loadFeedMenu('WORLD')" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          WORLD
        </a>
        <div class="dropdown-menu" style="border-radius: 0px !important;" aria-labelledby="navbarDropdown">
          <!-- <div class="container"> -->
          <div class="row" style="margin:5px;padding-top: 10px;">

            <div class="col-sm-3" *ngFor="let Feed of MenuFeeds" style="margin-top: 10px;">
              <div class="list-group">
                <a style="padding: 0 !important;" class="list-group-item mostread list-group-item-action flex-column align-items-start">
                  <div class="d-flex flex-row">
                    <div class="d-inline-flex p-2">
                      <img src="{{Feed.headLineImage}}" style="height: 67px;width: 70px;" alt="">
                    </div>
                    <div class="d-flex p-2">
                      <p class="mb-1">{{Feed.headline}}</p>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <br>






          </div>
          <!-- </div> -->

        </div>
      </li>



      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" (mouseenter)="loadFeedMenu('HEALTH')" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          HEALTH
        </a>
        <div class="dropdown-menu" style="border-radius: 0px !important;" aria-labelledby="navbarDropdown">
          <!-- <div class="container"> -->
          <div class="row" style="margin:5px;padding-top: 10px;">

            <div class="col-sm-3" *ngFor="let Feed of MenuFeeds" style="margin-top: 10px;">
              <div class="list-group">
                <a style="padding: 0 !important;" class="list-group-item mostread list-group-item-action flex-column align-items-start">
                  <div class="d-flex flex-row">
                    <div class="d-inline-flex p-2">
                      <img src="{{Feed.headLineImage}}" style="height: 67px;width: 70px;" alt="">
                    </div>
                    <div class="d-flex p-2">
                      <p class="mb-1">{{Feed.headline}}</p>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <br>






          </div>
          <!-- </div> -->

        </div>
      </li>



      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" (mouseenter)="loadFeedMenu('TECH')" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          TECH
        </a>
        <div class="dropdown-menu" style="border-radius: 0px !important;" aria-labelledby="navbarDropdown">
       
          <div class="row" style="margin:5px;padding-top: 10px;">

            <div class="col-sm-3" *ngFor="let Feed of MenuFeeds" style="margin-top: 10px;">
              <div class="list-group">
                <a style="padding: 0 !important;" class="list-group-item mostread list-group-item-action flex-column align-items-start">
                  <div class="d-flex flex-row">
                    <div class="d-inline-flex p-2">
                      <img src="{{Feed.headLineImage}}" style="height: 67px;width: 70px;" alt="">
                    </div>
                    <div class="d-flex p-2">
                      <p class="mb-1">{{Feed.headline}}</p>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <br>




          </div>
        </div>
      </li>



      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" (mouseenter)="loadFeedMenu('OTHERS')" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          OTHERS
        </a>
        <div class="dropdown-menu" style="border-radius: 0px !important;" aria-labelledby="navbarDropdown">
          <!-- <div class="container"> -->
          <div class="row" style="margin:5px;padding-top: 10px;">
            <div class="col-sm-3" *ngFor="let Feed of MenuFeeds" style="margin-top: 10px;">
              <div class="list-group">
                <a style="padding: 0 !important;" class="list-group-item mostread list-group-item-action flex-column align-items-start">
                  <div class="d-flex flex-row">
                    <div class="d-inline-flex p-2">
                      <img src="{{Feed.headLineImage}}" style="height: 67px;width: 70px;" alt="">
                    </div>
                    <div class="d-flex p-2">
                      <p class="mb-1">{{Feed.headline}}</p>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <br>

          </div>
        </div>
      </li>


    </ul>

    
    <div class="form-inline my-2 my-lg-0">     
      <input [(ngModel)]="SearchString" class="form-control mr-sm-2" id="searchinput" type="search" placeholder="Search" aria-label="Search">
      <button (click)="searchURL()" class="btn btn-outline-primary my-2 my-sm-0" type="button">Search</button>
    </div>
  </div>


</nav>




<div class="container" style="max-width: 98%; ">

  <div class="row flashbar">
    <div class="col-sm-8" style="padding-left: 0px;padding-right: 0px;">
      <div class="d-flex flex-row">
        <div class="d-inline-flex">
          <h5 style="margin-right: 10px;">
            <span class="badge badge-danger">Breaking</span>
          </h5>
        </div>
        <div class="d-inline-flex" class="marquecontainer">
          <p class="marquee">
            <span>
              <section style="display: inline;" *ngFor="let Links of Breakingnews">
                {{Links.headline}} &nbsp;&nbsp;&nbsp;&nbsp;| &nbsp;&nbsp;&nbsp;&nbsp;
              </section>
            </span>
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-4" style="padding-left: 0px;">
      <div class="d-flex flex-row">
        <div class="d-inline-flex">
          <h5 style="margin-right: 10px;">
            <span class="badge badge-primary">Cricket &nbsp;&nbsp;</span>
          </h5>
        </div>
        <div class="d-inline-flex" class="marquecontainer">
          <p class="marquee">
            <span>
              {{CricetScore}}
            </span>
          </p>

        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>

<br>
<br>


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <img src="../assets/Logo.png" height="40" width="100" />
  </a>
  <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
    <li class="nav-item active">
      <a class="nav-link" href="#">Politics
        <span class="sr-only">(current)</span>
      </a>
    </li>
  </ul>
  <button class="btn primary" type="submit" (click)="scrollToTop()">TOP</button>
</nav>
