<nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding: 5px;">
    <a class="navbar-brand" href="#">
      <img src="../assets/Logo.png" height="40" width="100"/>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="#">Politics
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="#">Fact Check
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item active">
              <a class="nav-link" href="#">Offbeat
                <span class="sr-only">(current)</span>
              </a>
            </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
  
  <div class="container" style="max-width: 98%;">  
  
      <div class="row flashbar">
        <div class="col-sm-8" style="padding-left: 0px;padding-right: 0px;">
          <div class="d-flex flex-row">
            <div class="d-inline-flex">
              <h5 style="margin-right: 10px;">
                <span class="badge badge-danger">Breaking</span>
              </h5>
            </div>
            <div class="d-inline-flex">
              <marquee direction="left" speed="slow" behavior="loop">
                Days Before Death, Unnao Teen's Father Named Attacker, Shows Video | Can't Distrust Chief Justice, Plea "Scandalous", Says
                Supreme Court: 10 Facts
              </marquee>
            </div>
          </div>
        </div>
        <div class="col-sm-4" style="padding-left: 0px;">
          <div class="d-flex flex-row">
            <div class="d-inline-flex">
              <h5 style="margin-right: 10px;">
                <span class="badge badge-primary">Cricket &nbsp;&nbsp;</span>
              </h5>
            </div>
            <div class="d-inline-flex">
              <marquee direction="left" speed="normal" behavior="loop">
                Days Before Death, Unnao Teen's Father Named Attacker, Shows Video | Can't Distrust Chief Justice, Plea "Scandalous", Says
                Supreme Court: 10 Facts
              </marquee>
            </div>
          </div>
        </div>
      </div>
  </div>    
  
<router-outlet></router-outlet>

<br>
<br>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <img src="../assets/Logo.png" height="40" width="100" />
  </a>
  <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
    <li class="nav-item active">
      <a class="nav-link" href="#">Politics
        <span class="sr-only">(current)</span>
      </a>
    </li>
  </ul>
  <button class="btn primary" type="submit" (click)="scrollToTop()">TOP</button>
</nav>