<div class="container" style="max-width: 95%;">
  <div class="row">
    <div class="col-sm-9">
      <div class="row contentHeadline">
        {{feed.headline}}
      </div>
      <div class="row preview">
        <div class="col-sm-12">
          {{feed.contentPreview}}
        </div>
      </div>
      <div class="row" style="padding:15px;">
        <h5>
          <span class="badge badge-danger">{{feed.publishingDate}}</span>
        </h5> &nbsp;&nbsp;&nbsp;
        <h5>
          <span class="badge badge-info">{{feed.catagory}}</span>
        </h5>
      </div>
    </div>
    <div class="col-sm-9"></div>
  </div>
  <div class="row">
    <div class="col-sm-9">

      <div class="row" style="padding-top:25px;">
        <div class="col-sm-12">
          <img class="img-fluid article_image" src="{{feed.headLineImage}}" alt="Image">
        </div>
      </div>
      <hr>
      <div class="row" style="padding-top:25px;">
        <div class="col-sm-12">
          <a  (click)="shareLinks()" class="fa fa-twitter"></a>
          <a href="#" class="fa fa-facebook"></a>
          <a href="#" class="fa fa-google"></a>
          <a href="#" class="fa fa-linkedin"></a>
          <a href="#" class="fa fa-instagram"></a>
        </div>
      </div>
      <div class="row" style="padding-top:15px;">
        <div class="col-sm-12">
          <h5>
            <span class="badge badge-warning">{{feed.authourName}}</span>
          </h5>
        </div>
      </div>
      <div class="row article_content" style="padding-top:25px;" [innerHTML]='feed.content | keepHtml'>
      </div>
    </div>


    <div class="col-sm-3" style="padding-top: 25px;padding-bottom: 20px;">
      <div class="list-group" *ngFor="let Feed of MostRead">
        <a class="list-group-item mostread list-group-item-action flex-column align-items-start" style="padding:0px;">
          <div class="d-flex flex-row">
            <div class="d-inline-flex p-2">
              <img src="{{Feed.headLineImage}}" style="height: 67px;width: 70px;" alt="">
            </div>
            <div class="d-flex p-2">
              <p class="mb-1">{{Feed.headline}}</p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="jumbotron" style="width: 100%;">
      <h1 class="display-4">Hello, world!</h1>
      <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
      <hr class="my-4">
      <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
      <a class="btn btn-primary btn-lg" href="#" role="button">Next Story</a>
    </div>
  </div>

  <div class="row">


    <div class="col-sm-3">
      <div class="card">
        <img class="card-img-top" src="https://i.ndtvimg.com/i/2018-04/atm-cash-crunch_650x400_61523940476.jpg?output-quality=70&output-format=webp"
          alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little
            bit longer.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>


    <div class="col-sm-3">
      <div class="card">
        <img class="card-img-top" src="https://i.ndtvimg.com/i/2018-04/atm-cash-crunch_650x400_61523940476.jpg?output-quality=70&output-format=webp"
          alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little
            bit longer.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>


    <div class="col-sm-3">
      <div class="card">
        <img class="card-img-top" src="https://i.ndtvimg.com/i/2018-04/atm-cash-crunch_650x400_61523940476.jpg?output-quality=70&output-format=webp"
          alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little
            bit longer.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>


    <div class="col-sm-3">
      <div class="card">
        <img class="card-img-top" src="https://i.ndtvimg.com/i/2018-04/atm-cash-crunch_650x400_61523940476.jpg?output-quality=70&output-format=webp"
          alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little
            bit longer.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>

  </div>


</div>
